node_modules
.env

# Hardhat files
/cache
/artifacts
# TypeChain files
/typechain
/typechain-types
# solidity-coverage files
/coverage
/coverage.json
# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
# Additional files to ignore
/dist
trained_model.json
*.tsbuildinfo

.env.txt

out/
uploads/
__pycache__/
venv/
node_modules/
.env.bak
